
body{
 background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
  background-attachment: fixed; 
  min-height: 500px;
  background-image: url(../imagens/pexels-tima-miroshnichenko-5717622.jpg);
  margin: 0;
  padding: 0;
}
nav {

    box-shadow: 3px 10px 40px rgba(46, 46, 49);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(46, 46, 49,0.90);
    height: 15vh;
    text-decoration: none;
    list-style: none;
    padding-top: 20px;
}

.container a{
    margin-left: 8%;
    position: relative;
    width: 160px;
    height: 48px;
    display: inline-block;
    background: #fff;
    margin: 20px;
    font-family: Poppins;
    padding-top: 20px;
}
.container a:before, 
.container a:after{
    content: '';
    position: absolute;
    inset: 0;
    background: #f00;
    transition: 0.5s;
}
.container a:nth-child(1):before, 
.container a:nth-child(1):after{
    background: linear-gradient(45deg, #23232e, #23232e,#23232e);
}
.container a:nth-child(2):before, 
.container a:nth-child(2):after{
    background: linear-gradient(45deg, #23232e, #23232e,#23232e);
}
.container a:nth-child(3):before, 
.container a:nth-child(3):after{
    background: linear-gradient(45deg, #23232e, #23232e,#23232e);
}
.container a:nth-child(4):before, 
.container a:nth-child(4):after{
    background: linear-gradient(45deg, #23232e, #23232e,#23232e);
}
.container a:nth-child(5):before, 
.container a:nth-child(5):after{
    background: linear-gradient(45deg, #23232e, #23232e,#23232e);
}
.container a:nth-child(6):before, 
.container a:nth-child(6):after{
    background: linear-gradient(45deg, #23232e, #23232e,#23232e);
}
.container a:hover:before{
    inset: -3px;
}
.container a:hover:after{
    inset: -3px;
    filter: blur(10px);
}

.container a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: rgba(46, 46, 49);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
   
    letter-spacing: 2px;
    color: #17a2b8;
}
.pad {
    margin-left: 180px;
    padding: 22px;
    padding-top: 1px;
   
}
.ft{
    width: 262px;
    
    padding: 22px;
 
}
.card-menu {
    height: 40vh;
    width: 95%;
    max-width: 700px;
    margin: auto;
    letter-spacing: 2px;
    box-shadow: 0px 10px 50px #23232e;
    background: rgba(46, 46, 49,0.67);
    padding: 5px 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    margin-left: 2%;
}
.parceiros{
    background-color:#23232ea1;
    
    text-shadow: 3px 3px 10px #23232e;
    color: #23232e;
   
}
.espaco{
    height: 300px;
}
.card{
    position: relative;
    width: 350px;
    height: 190px;
    background: #ffffff85;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0,0.15);
    transition: 0.5s;
}
.card:hover{
    height: 450px;
}
.card:hover .imgBx{
    width: 250px;
    height: 250px;
}
.imgBx{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0,0.35);
    overflow: hidden;
    transition: 0.5s;
}

.imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .content .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
}
.card:hover .content .details{
    transform: translateY(0px);
}
.card .content .details h2{
    font-size: 1.25rem;
    font-weight: 600;
    color: #23232e;
    line-height: 1.2rem;
}
.card .content .details h2 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}
.card .content .details .data{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card .content .details .data h3{
    font-size: 1em;
    color: #23232e;
    line-height: 1.2em;
    font-weight: 600;
}
.card .content .details .data h3 span{
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.5;
}
.card .content .details .actionBtn{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card .content .details .actionBtn button{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #DEB887;
    color: #fff;
    cursor: pointer;
}

.card .content .details .actionBtn button:nth-child(2){
    border: 1px solid #999;
    color: #17a2b8;
    background: #fff;
}

.titulo{
    color: #fff;
    text-shadow: 3px 3px 10px #23232e;
}

.ul {
    position: relative;
    display: flex;
    gap: 40px;
    margin-left: 2%;
}
.ul .li:hover{
    z-index: 10000;
    transform: scale(0.75);
}

.ul .li {
    position: relative;
    list-style: none;
    text-decoration: none;
    font-style: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.ul .li::before {
    content: '';
    position: absolute;
    inset: 20px;
    box-shadow: 0 0 0 10px var(--clr),
        0 0 0 20px var(--bg),
        0 0 0 22px var(--clr);
    transition: 0.5s;
}
.ul .li:hover::before{
    inset: 0px;
}
.ul .li::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--bg);
    transform: rotate(45deg);
}

.ul .li .a {
    text-decoration: none;
    position: relative;
    color: var(--clr);
    z-index: 10;
    font-size: 2em;
    transition: 0.5s;
}

.ul .li:hover .a {
    font-size: 3em;
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));
}
.titu{
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    color: #fff;
    text-shadow: 3px 3px 5px #222;
}
.sm{
    box-shadow: 3px 10px 120px #23232e;
}
.tit{
    text-align: center;
    justify-content: justify;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    text-shadow: 3px 3px 5px #222;
}